
.menu
{
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: bold;
  background-color: #555;
  color: yellow;
  margin: 10px;


}

.cont1
{
  position: fixed;
  top: 0;
  left: 0;
  
    display: flex;
     flex-direction: column; 
    /*background-color: rgb(64, 139, 61);*/
    height: 100vh;
    width: 120px;

    border: #c42020 solid;
}
