.corazon
{
    color: red;
}

.ficha
{
    display: flex;
    border: 2px solid blueviolet;
    width: 400px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    align-items: center;
}

h3, h4, h6, span{
    margin: 0%;
    margin-left: 30px;
}

.imagen 
{
    width: 200px;
}

.image{
  width: 1000px ;
}

.cont
{
    width: 300px;
}